.App {
  text-align: center;
  padding: 20px;
}

.temperature-value {
  font-size: 18px;
  margin-bottom: 10px;
}

.high-temperature {
  color: red;
  font-weight: bold;
}

.alert {
  background-color: yellow;
  padding: 10px;
  border: 1px solid orange;
  margin-top: 10px;
  border-radius: 5px;
}
